name: Continious Integration

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    cache-libraries:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Setup Haxe
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.6

          - name: Install libraries
            run: |
              haxelib --global --quiet update haxelib
              haxelib --global --quiet install hmm
              cd tests
              haxelib run hmm install --quiet

          - name: Upload Cache
            uses: actions/cache@v4
            env:
              cache-name: cache-node-modules
            with:
                path: tests/.haxelib
                key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/tests/hmm.json') }}
                restore-keys: |
                  ${{ runner.os }}-build-${{ env.cache-name }}-
                  ${{ runner.os }}-build-
                  ${{ runner.os }}-


    linux-build:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Setup Haxe
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.6

          - name: Warming up libraries
            run: |
              sudo apt-get install libvlc-dev
              sudo apt-get install libvlccore-dev
              cd tests
              haxelib newrepo

          - name: Download Cache
            uses: actions/cache@v4
            env:
              cache-name: cache-node-modules
            with:
                path: tests/.haxelib
                key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/tests/hmm.json') }}
                restore-keys: |
                  ${{ runner.os }}-build-${{ env.cache-name }}-
                  ${{ runner.os }}-build-
                  ${{ runner.os }}-

          - name: Install extended-flixel
            run: |
                cd tests
                haxelib --global --quiet git extended-flixel https://github.com/MrMadera/extended-flixel 
                haxelib git --quiet extended-flixel https://github.com/MrMadera/extended-flixel 

          - name: Create Version Tag
            run: echo "${{ github.run_id }}" > VERSION

          - name: Compile
            run: | 
              cd tests
              haxelib run lime build linux --app-version="4.0.0-${{ github.run_id }}"