name: Continious Integration

on:
    push:
    pull_request:
    workflow_dispatch:

concurrency:
    group: ci-${{ github.ref }}
    cancel-in-progress: true

env:
  executable-name: exteneded-flixel-tests

jobs:
    cache-libraries:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Check Cache Instance
            uses: actions/cache@v5
            id: cache-instance
            env:
              cache-name: cache-node-modules
            with:
                path: tests/.haxelib
                key: BUILD-${{ hashFiles('tests/hmm.json') }}
                enableCrossOsArchive: true

          - name: Setup Haxe
            if: ${{steps.cache-instance.outputs.cache-hit != 'true'}}
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.7

          - name: Install libraries
            if: ${{steps.cache-instance.outputs.cache-hit != 'true'}}
            run: |
              haxelib --global --quiet update haxelib
              haxelib --global --quiet install hmm
              cd tests
              haxelib run hmm install --quiet


    build-game:
        needs: [cache-libraries]
        strategy:
          fail-fast: false
          matrix:
            include:
              - target: windows
                runs-on: windows-latest
                executable-path: export/release/windows/bin
              - target: macos
                runs-on: macos-latest
                executable-path: export/release/macos/bin
              - target: linux
                runs-on: ubuntu-latest
                executable-path: export/release/linux/bin

        runs-on: ${{ matrix.runs-on }}

        steps:
          - uses: actions/checkout@v5

          - name: Setup Haxe
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.7

          - name: Installing VLC
            if: ${{matrix.target == 'linux'}}
            run: |
              sudo apt-get install libvlc-dev
              sudo apt-get install libvlccore-dev

          - name: Warming up libraries
            run: |
              cd tests
              haxelib newrepo

          - name: Download Cache
            uses: actions/cache@v5
            env:
              cache-name: cache-node-modules
            with:
                path: tests/.haxelib
                key: BUILD-${{ hashFiles('tests/hmm.json') }}
                enableCrossOsArchive: true

          - name: Download EXPORT cache
            uses: actions/cache@v5
            with:
                path: ${{matrix.executable-path}}/${{env.executable-name}}
                key: EXPORT-${{runner.os}}
                restore-keys: |
                  EXPORT-

          - name: Install extended-flixel
            run: |
                cd tests
                haxelib --global --quiet git extended-flixel https://github.com/MrMadera/extended-flixel 
                haxelib git --quiet extended-flixel https://github.com/MrMadera/extended-flixel 

          - name: Create Version Tag
            run: echo "${{ github.run_id }}" > VERSION

          - name: Compile (Windows)
            if: ${{matrix.target  == 'windows'}}
            run: | 
              cd tests
              haxelib run lime build windows --app-version="4.0.0-${{ github.run_id }}"

          - name: Compile (MacOS)
            if: ${{matrix.target  == 'macos'}}
            run: | 
              cd tests
              haxelib run lime build macos -cpp --app-version="4.0.0-${{ github.run_id }}"

          - name: Compile (Linux)
            if: ${{matrix.target  == 'linux'}}
            run: | 
              cd tests
              haxelib run lime build linux -cpp --app-version="4.0.0-${{ github.run_id }}"

          - name: Upload artifact
            uses: actions/upload-artifact@v4
            with:
              path: tests/export/${{matrix.target}}/bin
              name: ${{matrix.target}}-build
              retention-days: 1