name: Continious Integration

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    install-dependencies:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Setup Haxe
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.6

          - name: Install libraries
            run: |
              haxelib --global --quiet update haxelib
              haxelib install hxcpp --quiet
              cd tests
              haxelib --global --quiet install hmm
              haxelib fixrepo
              haxelib run hmm install --quiet