name: Continious Integration

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    install-dependencies:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Setup Haxe
            uses: krdlab/setup-haxe@master
            with:
              haxe-version: 4.3.6

          - name: Warming up libraries
            run: |
              haxelib --global --quiet update haxelib
              haxelib install hxcpp --quiet
              cd tests
              haxelib --global --quiet install hmm
              haxelib newrepo
              haxelib fixrepo

          - name: Download Cache
            uses: actions/cache@v4
            env:
              cache-name: cache-node-modules
            with:
                path: tests/.haxelib
                key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/tests/hmm.json') }}
                restore-keys: |
                  ${{ runner.os }}-build-${{ env.cache-name }}-
                  ${{ runner.os }}-build-
                  ${{ runner.os }}-

          - name: Install extended-flixel
            run: |
                cd tests
                haxelib --global git extended-flixel https://github.com/MrMadera/extended-flixel 
                haxelib git extended-flixel https://github.com/MrMadera/extended-flixel 

          - name: Create Version Tag
            run: echo "${{ github.run_id }}" > VERSION

          - name: Compile
            run: | 
              cd tests
              haxelib run lime build windows --app-version="4.0.0-${{ github.run_id }}"